﻿@using GeneologyProject.Models;
@model List<cemetery>
@{
    ViewBag.Title = "Cemetery List";
    List<location> locations = ViewBag.Locations;
}

<div class="row">
    <h2 class="col-lg-3">Cemetery List</h2>
    <a href="http://geneology-project.azurewebsites.net/Admin/CreateCemetery" class="btn btn-primary" style="margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;">Add Cemetery</a>
</div>

@foreach (var cemetery in Model)
{
    var location = locations.FirstOrDefault(x => x.location_id == cemetery.cemetery_location_id);
    var temp = "";
    if(location != null)
    {
        if (!String.IsNullOrWhiteSpace(location.country_code))
        {
            temp += location.country_code + ", ";
        }
        if (!String.IsNullOrWhiteSpace(location.state_region))
        {
            temp += location.state_region + ", ";
        }
        if (!String.IsNullOrWhiteSpace(location.county_province))
        {
            temp += location.county_province + " County, ";
        }
        if (!String.IsNullOrWhiteSpace(location.township))
        {
            temp += location.township + ", ";
        }
        if (!String.IsNullOrWhiteSpace(location.city_village))
        {
            temp += location.city_village + ", ";
        }
        temp = temp.Substring(0, temp.Length - 2);
    }

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse">
                        @cemetery.cemetery_name, @temp
                        <a href="/Admin/EditCemetery?cemeteryGUID=@cemetery.cemetery_guid" style="float:right;">edit</a>
                    </a>
                </h4>
            </div>
            <div id="@cemetery.cemetery_guid" class="panel-collapse collapse">
                <div style="padding-left:10px;padding-right:10px">

                </div>
            </div>
        </div>
    </div>
}