﻿@model GeneologyProject.Models.cemetery
@{
    ViewBag.Title = "Create Cemetery";
}

<h2 class="col-md-offset-2">Create Cemetery</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.cemetery_name, "Cemetery Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cemetery_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cemetery_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cemetery_location_id, "Cemetery Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.cemetery_location_id, new SelectList(ViewBag.Locations, "value", "Text"), "- - - Select Cemetery Location - - -", new { @class = "form-control" })
                <a href="/Admin/CreateLocation">location not listed?</a>
                @Html.ValidationMessageFor(model => model.cemetery_location_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a href="/Admin/CemeteryList" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
}