﻿@using GeneologyProject.Models;
@model GeneologyProject.Models.AdminDashboard
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Open Orders</h3>
    <a href="/Admin/Orders" class="btn btn-primary" style="margin:20px 15px 10px 15px;padding-right:15px;float:right;">Orders</a>
</div>

@if (Model.Orders.Count > 0)
{
    <div style="overflow-y: scroll; height:300px; overflow-x:hidden; background-color:darkgray">
        @foreach (var order in Model.Orders.ToList())
        {
            var user = Model.OrderUsers.FirstOrDefault(x => x.user_guid == order.user_guid);
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/Admin/OrderDetails?cartGUID=@order.cart_guid">
                                <span>
                                    @user.first_name @user.last_name
                                </span>
                                <span style="float:right">Placed: @order.order_date</span>
                            </a>
                        </h4>
                    </div>
                    <div id="@order.cart_guid" class="panel-collapse collapse">
                        <div style="padding-left:10px;padding-right:10px">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="overflow-y: scroll; height:50px; overflow-x:hidden; background-color:darkgray;">
        <h3 style="padding-left:10px;">No modified people in last 7 days</h3>
    </div>
}
<br />


<div class="row">
    <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">People Modified Last 7 Days</h3>
    <a href="/Admin/PersonList" class="btn btn-primary" style="margin:20px 15px 10px 15px;padding-right:15px;float:right;">Person List</a>
</div>

@if (Model.People.Count > 0)
{
    <div style="overflow-y: scroll; height:300px; overflow-x:hidden; background-color:darkgray">
        @foreach (var person in Model.People.ToList())
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/Admin/EditPerson?personGUID=@person.person_guid">
                                <span>
                                    @person.first_name
                                    @if (!String.IsNullOrWhiteSpace(person.middle_name))
                                    {
                                        <span> @person.middle_name</span>
                                    }
                                    @person.last_name
                                </span>
                                <span style="float:right">Modified: @person.date_modified</span>
                            </a>
                        </h4>
                    </div>
                    <div id="@person.person_guid" class="panel-collapse collapse">
                        <div style="padding-left:10px;padding-right:10px">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="overflow-y: scroll; height:50px; overflow-x:hidden; background-color:darkgray;">
        <h3 style="padding-left:10px;">No modified people in last 7 days</h3>
    </div>
}
<br />

<div class="row">
    <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Locations Modified Last 7 Days</h3>
    <a href="/Admin/LocationList" class="btn btn-primary" style="margin:20px 15px 10px 15px;padding-right:15px;float:right;">Location List</a>
</div>
@if (Model.Locations.Count > 0)
{
    <div style="overflow-y: scroll; height:300px; overflow-x:hidden; background-color:darkgray;">
        @foreach (var location in Model.Locations.ToList())
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/Admin/EditLocations?locationsGUID=@location.location_guid">
                                <span>
                                    @{
                                        var temp = "";
                                        if (!String.IsNullOrWhiteSpace(location.country_code))
                                        {
                                            temp += location.country_code + ", ";
                                        }
                                        if (!String.IsNullOrWhiteSpace(location.state_region))
                                        {
                                            temp += location.state_region + ", ";
                                        }
                                        if (!String.IsNullOrWhiteSpace(location.county_province))
                                        {
                                            temp += location.county_province + " County, ";
                                        }
                                        if (!String.IsNullOrWhiteSpace(location.township))
                                        {
                                            temp += location.township + ", ";
                                        }
                                        if (!String.IsNullOrWhiteSpace(location.city_village))
                                        {
                                            temp += location.city_village + ", ";
                                        }
                                        temp = temp.Substring(0, temp.Length - 2);
                                    }
                                    @temp
                                </span>
                                <span style="float:right">Modified: @location.date_modified</span>
                            </a>
                        </h4>
                    </div>
                    <div id="@location.location_guid" class="panel-collapse collapse">
                        <div style="padding-left:10px;padding-right:10px">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="overflow-y: scroll; height:50px; overflow-x:hidden; background-color:darkgray;">
        <h3 style="padding-left:10px;">No modified locations in last 7 days</h3>
    </div>
}

<div class="row">
    <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Cemeteries Modified Last 7 Days</h3>
    <a href="/Admin/CemeteryList" class="btn btn-primary" style="margin:20px 15px 10px 15px;padding-right:15px;float:right;">Cemetery List</a>
</div>
@if (Model.Cemeteries.Count > 0)
{
    <div style="overflow-y: scroll; height:300px; overflow-x:hidden; background-color:darkgray;">
        @foreach (var cemetery in Model.Cemeteries.ToList())
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/Admin/EditCemetery?cemeteryGUID=@cemetery.cemetery_guid">
                                <span>
                                    @cemetery.cemetery_name
                                </span>
                                <span style="float:right">Modified: @cemetery.date_modified</span>
                            </a>
                        </h4>
                    </div>
                    <div id="@cemetery.cemetery_guid" class="panel-collapse collapse">
                        <div style="padding-left:10px;padding-right:10px">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="overflow-y: scroll; height:50px; overflow-x:hidden; background-color:darkgray;">
        <h3 style="padding-left:10px;">No modified cemeteries in last 7 days</h3>
    </div>
}

<div class="row">
    <h3 class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Marriages Modified Last 7 Days</h3>
</div>
@if (Model.Weddings.Count > 0)
{
    <div style="overflow-y: scroll; height:300px; overflow-x:hidden; background-color:darkgray;">
        @foreach (var wedding in Model.Weddings.ToList())
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/Admin/EditMarriage?weddingGUID=@wedding.wedding_guid">
                                <span>
                                </span>
                                <span style="float:right">Modified: @wedding.date_modified</span>
                            </a>
                        </h4>
                    </div>
                    <div id="@wedding.wedding_guid" class="panel-collapse collapse">
                        <div style="padding-left:10px;padding-right:10px">

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="overflow-y: scroll; height:50px; overflow-x:hidden; background-color:darkgray;">
        <h3 style="padding-left:10px;">No modified marriages in last 7 days</h3>
    </div>
}