﻿@model GeneologyProject.Models.person
@{
    ViewBag.Title = "Edit Info - " + Model.first_name + " " + Model.last_name;
}

<h2 class="col-md-offset-2">Edit Person</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.person_guid)
    @Html.HiddenFor(model => model.person_id)

    <div class="form-group">
        @Html.LabelFor(model => model.first_name, "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.middle_name, "Middle Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.last_name, "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.father_id, "Father", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.father_id, new SelectList(ViewBag.Parents, "value", "Text"), "- - - Select Father - - -", new { @class = "form-control", @style = "max-width:280px;!important" })
            @Html.ValidationMessageFor(model => model.father_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mother_id, "Mother", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.mother_id, new SelectList(ViewBag.Parents, "value", "Text"), "- - - Select Mother - - -", new { @class = "form-control", @style = "max-width:280px;!important" })
            @Html.ValidationMessageFor(model => model.mother_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nickname, "Nickname", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nickname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nickname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.prefix, "Prefix", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prefix, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prefix, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.gender, "Gender", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.gender, "m") Male
            @Html.RadioButtonFor(model => model.gender, "f") Female
            @Html.RadioButtonFor(model => model.gender, "?") ?
            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.birth_date, "Birthday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!String.IsNullOrWhiteSpace(Model.birth_date) && Model.birth_date.Length != 10)
            {
                @Html.EditorFor(model => model.birth_date, new { htmlAttributes = new { @class = "form-control" } })
            }
            else
            {
                @Html.TextBoxFor(model => model.birth_date, new { @type = "date", @class = "form-control datepicker" })
            }
            @Html.ValidationMessageFor(model => model.birth_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.birth_location_id, "Birth Location", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.birth_location_id, new SelectList(ViewBag.Locations, "value", "Text"), "- - - Select Birth Location - - -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.birth_location_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.death_date, "Deathday", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @if (!String.IsNullOrWhiteSpace(Model.death_date) && Model.death_date.Length != 10)
            {
                @Html.EditorFor(model => model.death_date, new { htmlAttributes = new { @class = "form-control" } })
            }
            else
            {
                @Html.TextBoxFor(model => model.death_date, new { @type = "date", @class = "form-control datepicker" })
            }
            @Html.ValidationMessageFor(model => model.death_date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.death_place, "Death Place", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.death_place, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.death_place, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cause_of_death, "Cause of Death", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cause_of_death, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cause_of_death, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.death_location_id, "Death Location", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.death_location_id, new SelectList(ViewBag.Locations, "value", "Text"), "- - - Select Death Location - - -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.death_location_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cemetery_id, "Cemetery Buried", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.cemetery_id, new SelectList(ViewBag.Cemeteries, "value", "Text"), "- - - Select Cemetery - - -", new { @class = "form-control", @style = "max-width:280px;!important" })
            @Html.ValidationMessageFor(model => model.cemetery_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="/Admin/PersonList" class="btn btn-warning">Cancel</a>
        </div>
    </div>
</div>
}