﻿@model GeneologyProject.Models.wedding
@{
    ViewBag.Title = "Edit Marraige";
}

<h2 class="col-md-offset-2">Edit Marriage</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.wedding_guid)

        <div class="form-group">
            @Html.LabelFor(model => model.person1_id, "Person 1: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.person1_id, new SelectList(ViewBag.People, "value", "Text"), "- - - Select Person 1 - - -", new { @class = "form-control", @style = "max-width:280px;!important" })
                @Html.ValidationMessageFor(model => model.person1_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.person2_id, "Person 2: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.person2_id, new SelectList(ViewBag.People, "value", "Text"), "- - - Select Person 2 - - -", new { @class = "form-control", @style = "max-width:280px;!important" })
                @Html.ValidationMessageFor(model => model.person2_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wedding_date, "Wedding Date: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.wedding_date.Length != 10)
                {
                    @Html.EditorFor(model => model.wedding_date, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.TextBoxFor(model => model.wedding_date, new { @type = "date", @class = "form-control datepicker" })
                }

                @Html.ValidationMessageFor(model => model.wedding_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.performed_by, "Performed By: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.performed_by, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.performed_by, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wedding_place, "Wedding Place: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.wedding_place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.wedding_place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wedding_location_id, "Wedding Location: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.wedding_location_id, new SelectList(ViewBag.Locations, "value", "Text"), "- - - Select Wedding Location - - -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.wedding_location_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a onclick="window.history.back()" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
}