﻿@using GeneologyProject.Models;
@model List<filter>
@{
    ViewBag.Title = "Filter List";
}

<div class="row">
    <h2 class="col-xs-4 col-sm-3 col-md-2 col-lg-2">Filter List</h2>
    <span><a id="add-filter" class="btn btn-primary" style="display:inline-block;margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;">Add Filter</a></span>
    
</div>


<table class="table table-bordered">
    <tbody>
        @foreach (var filter in Model)
        {
            <tr>
                <td class="col-md-11">@filter.filter1</td>
                <td><center><a href="/Admin/DeleteFilter?filter=@filter.filter1">delete</a></center></td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="add-filter-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float:right">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Add Filter</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddFilter", "Admin"))
                {
                    <input type="text" class="form-control" name="filter" />
                    <br />
                    <input type="submit" class="btn btn-primary" value="Add"/>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(function ()
        {
            $('#add-filter').click(function ()
            {
                $('#add-filter-modal').modal();
            });
        });
    </script>
} 