﻿@using GeneologyProject.Models;
@model List<location>
@{
    ViewBag.Title = "Location List";
}

<div class="row">
    <h2 class="col-lg-3">Locations List</h2>
    <a href="http://geneology-project.azurewebsites.net/Admin/CreateLocations" class="btn btn-primary" style="margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;">Add Location</a>
</div>

@foreach (var location in Model)
{
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse">
                        @if (!String.IsNullOrWhiteSpace(location.country_code))
                        {
                            <span>@location.country_code,</span>
                        }
                        @if (!String.IsNullOrWhiteSpace(location.state_region))
                        {
                            <span>@location.state_region,</span>
                        }
                        @if (!String.IsNullOrWhiteSpace(location.county_province))
                        {
                            <span>@location.county_province,</span>
                        }
                        @if (!String.IsNullOrWhiteSpace(location.township))
                        {
                            <span>@location.township,</span>
                        }
                        @if (!String.IsNullOrWhiteSpace(location.city_village))
                        {
                            <span>@location.city_village</span>
                        }
                        <a href="/Admin/EditLocation?locationGUID=@location.location_guid" style="float:right;">edit</a>
                    </a>
                </h4>
            </div>
            <div id="@location.location_guid" class="panel-collapse collapse">
                <div style="padding-left:10px;padding-right:10px">
                    
                </div>
            </div>
        </div>
    </div>
}