﻿@using GeneologyProject.Models;
@model List<cart>
@{
    ViewBag.Title = "Orders";
    List<user> users = ViewBag.Users;
    var count = 1;
}

<h2>Orders</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Placed By</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            var person = users.FirstOrDefault(x => x.user_guid == order.user_guid);
            <tr>
                <td>@count</td>
                <td>@person.first_name @person.last_name</td>
                <td>@order.order_date</td>
                <td><a href="/Admin/OrderDetails?cartGUID=@order.cart_guid">details</a></td>
            </tr>
            count++;
        }
    </tbody>
</table>