﻿@using GeneologyProject.Models;
@model OrderDetails
@{
    ViewBag.Title = "Order Details";
}

<div class="row">
    <h2 class="col-lg-6">Order Details</h2>
</div>

<div class="row">
    <h3 class="col-lg-6">Ship to: @Model.user.first_name @Model.user.last_name</h3>
    <h3 class="col-lg-6" style="text-align:right">Email: @Model.user.email</h3>
</div>

<div class="row">
    <h4 class="col-lg-6">Order Number: @Model.cart.cart_id</h4>
    <h4 class="col-lg-6" style="text-align:right">Date: @Model.cart.order_date</h4>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Qty</th>
            <th>Item Description</th>
            <th style="text-align:right">Price</th>
            <th style="text-align:right">Cost</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.items)
        {
            var type = Model.types.FirstOrDefault(x => x.item_type_guid == item.item_type_guid);
            var person = Model.people.FirstOrDefault(x => x.person_guid == item.person_guid);
            <tr>
                <td style="text-align:center">1</td>
                <td><strong>@person.first_name @person.last_name</strong> - @type.item_type</td>
                <td style="text-align:right">$ 6.99</td>
                <td style="text-align:right">$&nbsp;<span class="subtotal">6.99</span></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td style="border:none"></td>
            <td style="border:none"></td>
            <td style="text-align:right">Total:</td>
            <td id="total" style="text-align:right;font-weight:bold"></td>
        </tr>
    </tfoot>
</table>

<h4 style="text-align:center">Prices above are valid for 30 days after the order date on this form.<br />Print this order form and send it along with your check or money.</h4>
<h4 style="text-align:center"><i>Thank you for your order!</i></h4>

@section scripts
{
    <script>
        $(function () {
            var total = 0;

            $('.subtotal').each(function () {
                var subtotal = parseFloat(this.innerHTML);
                total += subtotal;
            });

            $('#total').text("$ " + total);
        });
    </script>
}