﻿@using GeneologyProject.Models;
@model List<person>
@{
    ViewBag.Title = "Person List";
    List<wedding> weddings = ViewBag.Weddings;
    List<cemetery> cemeteries = ViewBag.Cemeteries;
    List<location> locations = ViewBag.Locations;
    List<filter> filters = ViewBag.Filters;
    List<person> allPeople = ViewBag.AllPeople;
    var activeFilter = ViewBag.Filter;
}
<style>
    html {
        scroll-behavior: smooth;
        
    }
    .body-content {
        scroll-margin-top: 25px;
    }
    .anchor {
        display: block;
        height: 60px;
        margin-top: -60px;
        visibility: hidden;
    }
</style>

<div class="row">
    <h2 class="col-xs-4 col-sm-3 col-md-3 col-lg-2">Person List</h2>
    <a href="/Admin/CreatePerson" class="btn btn-primary" style="margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;">Add Person</a>
    <a href="/Admin/CreateMarriage" class="btn btn-primary" style="margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;">New Marriage</a>

    <select id="filter" class="form-control col-md-2" style="margin-top:20px;margin-bottom:10px;margin-right:15px;padding-left:15px;padding-right:15px;padding-top:10px;max-width:100px!important;float:right">
        <option value="">-----</option>
        @foreach (var filter in filters)
        {
            <option value="@filter.filter1">@filter.filter1</option>
        }
    </select>
    <a href="/Admin/PersonList" style="margin-top:20px;margin-bottom:10px;padding-left:15px;padding-right:15px;float:right">clear</a>

</div>

@if (Model.Count > 0)
{
    foreach (var person in Model)
    {
        var mother = Model.FirstOrDefault(x => x.person_id == person.mother_id);
        var father = Model.FirstOrDefault(x => x.person_id == person.father_id);
        var siblings = Model.Where(x => x.father_id == person.father_id && x.father_id != null || x.mother_id == person.mother_id && x.mother_id != null).OrderBy(x => x.birth_date).ToList();
        var children = Model.Where(x => x.mother_id == person.person_id || x.father_id == person.person_id).ToList();
        var birthdate = person.birth_date;
        if (!String.IsNullOrWhiteSpace(birthdate))
        {
            birthdate = birthdate.Split('-')[0];
        }

    <span class="anchor" id="@person.person_id"></span>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#@person.person_guid">@person.first_name @if (!String.IsNullOrWhiteSpace(person.middle_name))
                    { <span> @person.middle_name</span> } @person.last_name - @birthdate<a href="/Admin/EditPerson?personGUID=@person.person_guid" style="float:right;">edit</a></a>
                </h4>
            </div>
            <div id="@person.person_guid" class="panel-collapse collapse">
                <div style="padding-left:10px;padding-right:10px">
                    <div class="row">
                        @if (mother != null)
                        {
                            <span class="col-xs-6 col-sm-6 col-md-6"><strong>Mother: </strong><a href="#@mother.person_id">@mother.first_name @mother.last_name</a></span>
                        }
                        @if (father != null)
                        {
                             <span class="col-xs-6 col-sm-6 col-md-6"><strong>Father: </strong><a href="#@father.person_id">@father.first_name @father.last_name</a></span>
                        }
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <strong>Life info:</strong>
                            <br />
                            Born: @person.birth_date<br />
                            @if (!String.IsNullOrWhiteSpace(person.death_date))
                            {
                                <span>Died: @person.death_date</span><br />
                            }
                            @if (!String.IsNullOrWhiteSpace(person.cemetery_id.ToString()))
                            {
                                var cemetery = cemeteries.FirstOrDefault(x => x.cemetery_id == person.cemetery_id);
                                if (cemetery != null)
                                {
                                    <span>Burried @@: @cemetery.cemetery_name</span><br />
                                }
                            }
                        </div>
                        @if (siblings.Count > 0)
                        {
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <strong>Siblings:</strong>
                                <br />

                                @foreach (var sibling in siblings)
                                {
                                    if (sibling.person_id != person.person_id)
                                    {
                                        <span><a href="#@sibling.person_id">@sibling.first_name @sibling.last_name</a></span><br />
                                    }
                                }
                            </div>
                        }
                        @if (children.Count > 0)
                        {
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <strong>Children:</strong>
                                <br />

                                @foreach (var child in children)
                                {
                                    if (child.person_id != person.person_id)
                                    {
                                        <span><a href="#@child.person_id">@child.first_name @child.last_name</a></span><br />
                                    }
                                }
                            </div>
                        }

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            @{
                                var marraiges = new List<wedding>();
                                foreach (var wedding in weddings)
                                {
                                    if (person.person_id == wedding.person1_id || person.person_id == wedding.person2_id)
                                    {
                                        marraiges.Add(wedding);
                                    }
                                }

                                if (marraiges.Count > 0)
                                {
                                    <strong>Marriages:</strong><br />
                                    marraiges.OrderBy(x => x.wedding_date);
                                    foreach (var wedding in marraiges)
                                    {
                                        person spouse;
                                        if (wedding.person1_id == person.person_id)
                                        {
                                            spouse = allPeople.FirstOrDefault(x => x.person_id == wedding.person2_id);
                                        }
                                        else
                                        {
                                            spouse = allPeople.FirstOrDefault(x => x.person_id == wedding.person1_id);
                                        }
                                        <span>Spouse: <a href="#@spouse.person_id">@spouse.first_name @spouse.last_name</a></span><span style="float:right"><a href="/Admin/EditMarriage?weddingGUID=@wedding.wedding_guid">edit</a></span><br />
                                        if (!String.IsNullOrWhiteSpace(wedding.wedding_date))
                                        {
                                            <span>Date: @wedding.wedding_date</span><br />
                                        }
                                        if (!String.IsNullOrWhiteSpace(wedding.performed_by))
                                        {
                                            <span>Performed By: @wedding.performed_by</span><br />
                                        }
                                        if (!String.IsNullOrWhiteSpace(wedding.wedding_place))
                                        {
                                            <span>Place: @wedding.wedding_place</span><br />
                                        }
                                        if (!String.IsNullOrWhiteSpace(wedding.wedding_location_id.ToString()))
                                        {
                                            var location = locations.FirstOrDefault(x => x.location_id == wedding.wedding_location_id);
                                            if (location != null)
                                            {
                                                var temp = "";
                                                if (!String.IsNullOrWhiteSpace(location.city_village))
                                                {
                                                    temp += location.city_village + ", ";
                                                }

                                                if (!String.IsNullOrWhiteSpace(location.state_region))
                                                {
                                                    temp += location.state_region + ", ";
                                                }
                                                if (!String.IsNullOrWhiteSpace(location.country_code))
                                                {
                                                    temp += location.country_code + ", ";
                                                }
                                                temp = temp.Substring(0, temp.Length - 2);

                                                <span>Married @@: @temp</span><br />
                                            }
                                        }
                                        <br />
                                        <br />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}
else
{
    <h3>No Results</h3>
}

@section scripts
{
<script>
    $(function ()
    {
        var personGUID = '@Session["personGUID"]';
        var personID = '@Session["personID"]';
        var filter = '@activeFilter';

        if (personID != '') {
            $(document).scrollTop($("#" + personID).offset().top);

            $('#' + personGUID).addClass('in');
        }
        
        if (filter != "") {
            $('#filter').val(filter);
        }

        $('#filter').change(function ()
        {
            if ($(this).val() == "") {
                location.href = "/Admin/PersonList";
            }
            //alert($(this).val())
            location.href = "/Admin/PersonList?filter=" + $(this).val();
        });
    });
</script>    
}