﻿@model GeneologyProject.Models.user
@{
    ViewBag.Title = "Login";
}

<h2 class="col-lg-offset-2">Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-bottom:5px!important">
            @Html.LabelFor(model => model.hash, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.hash, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.hash, "", new { @class = "text-danger" })
            </div>
        </div>

        <a href="/User/Register" class="col-lg-offset-2" style="padding-left:10px;margin-bottom:10px">create an account</a>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-primary" />
                <a href="/Home/Index" class="btn btn-warning">Cancel</a>
            </div>
        </div>
    </div>
}