﻿<!DOCTYPE html>
<html>
<head>
    @using GeneologyProject.Models;
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    @{
        user user = (user)Session["User"];
        cart cart = (cart)Session["Cart"];
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @if (Session["AuthType"] != null && Session["AuthType"].Equals("Admin"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Dashboard", "Dashboard", "Admin")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Logout (admin)", "Logout", "Admin")</li>
                    </ul>
                }
                else
                {
                    if (Session["AuthType"] != null && Session["AuthType"].Equals("User"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li style="color:lightgrey;margin-top:15px;">Welcome, @user.first_name</li>
                            @if(cart != null)
                            {
                                <li><a href="/Home/Cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                            }
                            <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Login", "Login", "User")</li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
