﻿@using GeneologyProject.Models;
@model List<cart_items>
@{
    ViewBag.Title = "Cart";

    List<person> people = ViewBag.People;
    List<item_types> itemTypes = ViewBag.ItemTypes;
    cart cart = (cart)ViewBag.Cart;

    user user = (user)Session["User"];
}

@if (Model.Count > 0)
{
    <h2>Cart</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Person</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var type = itemTypes.FirstOrDefault(x => x.item_type_guid == item.item_type_guid).item_type.ToString();
                <tr>
                    <td>
                        @type
                    </td>
                    <td>
                        @people.FirstOrDefault(x => x.person_guid == item.person_guid).last_name, @people.FirstOrDefault(x => x.person_guid == item.person_guid).first_name
                    </td>
                    <td><a href="/Home/RemoveFromCart?userGuid=@user.user_guid&cartItemID=@item.cart_item_id">remove</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/PlaceOrder?cartGuid=@cart.cart_guid" class="btn btn-primary">Place Order</a>
}
else
{
    <h2>Your cart is empty</h2>
}
