﻿@using GeneologyProject.Models;
@{
    ViewBag.Title = "Home Page";
    List<String> IPs = ViewBag.IPs;
    List<filter> filters = ViewBag.Filters;
    var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

<center><h2>Wisconsin Ancestors</h2></center>

<div class="modal fade" tabindex="-1" role="dialog" id="multi_search_modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Surname Multi Search</h3>

            </div>
            <div class="modal-body">
                <input type="text" name="name1" id="name1" class="form-control" style="margin-bottom:5px;"/>
                <input type="text" name="name2" id="name2" class="form-control" style="margin-bottom:5px;"/>
                <input type="text" name="name3" id="name3" class="form-control" style="margin-bottom:5px;"/>
                <input type="text" name="name4" id="name4" class="form-control"  style="margin-bottom:5px;"/>
                <input type="text" name="name5" id="name5" class="form-control" style="margin-bottom:5px;"/>
            </div>
            <div class="modal-footer">
                <button type="button" id="multi_search" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<div style="border:ridge">
    <center><h4>Research Available by Surname</h4></center>

    <center>
        <div>
            <input type="text" name="filter" id="filter" style="max-width:200px;" />
            <input type="button" id="search" value="Quick Search" />
            <span><a data-toggle="modal" data-target="#multi_search_modal">multi search</a></span>
        </div>
    </center>
    <hr />
    @for (var x = 0; x < letters.Length; x++)
    {
        <center>
            <div>
                @foreach (var filter in filters)
                {
                    if (filter.filter1.StartsWith(letters[x].ToString()))
                    {
                        <span><a href="/Home/SearchResults?filter=@filter.filter1">@filter.filter1</a> &nbsp;</span>
                    }
                }
            </div>
        </center>
    }
</div>
<div>

</div>

@section scripts
{
    <script>
        $(function(){
            $('#search').click(function () {
                var filter = $('#filter').val();

                filter = filter.charAt(0).toUpperCase() + filter.substring(1);

                if (filter != "") {
                    location.href = "/Home/SearchResults?filter=" + filter;
                }
            });

            $('#multi_search').click(function () {
                var name1 = $('#name1').val();
                var name2 = $('#name2').val();
                var name3 = $('#name3').val();
                var name4 = $('#name4').val();
                var name5 = $('#name5').val();

                var list = '';
                if (name1 != '') {
                    list += name1.charAt(0).toUpperCase() + name1.substring(1);
                    if (name2 != '') {
                        list += ',' + name2.charAt(0).toUpperCase() + name2.substring(1);
                    }
                    if (name3 != '') {
                        list += ',' + name3.charAt(0).toUpperCase() + name3.substring(1);
                    }
                    if (name4 != '') {
                        list += ',' + name4.charAt(0).toUpperCase() + name4.substring(1);
                    }
                    if (name5 != '') {
                        list += ',' + name5.charAt(0).toUpperCase() + name5.substring(1);
                    }
                    
                    location.href = "/Home/SearchResults?filter=" + list;
                }

               
            });
        });
    </script>
}