﻿@using GeneologyProject.Models;
@model List<person>
@{
    ViewBag.Title = "Search Results";

    List<filter> searchedFilters = ViewBag.SearchedFilters;
    List<filter> modifiedFilters = searchedFilters.ToList();
    List<person> allPeople = ViewBag.AllPeople;
    List<person> searchResults = ViewBag.People;
    List<wedding> weddings = ViewBag.Weddings;
}

@foreach (var filter in searchedFilters)
{
    foreach (var filter2 in searchedFilters)
    {
        if (filter.filter1 != filter2.filter1)
        {
            if (filter2.filter1.StartsWith(filter.filter1))
            {
                modifiedFilters.Remove(filter2);
            }
        }
    }
}

@if (Model.Count > 0)
{
    <h2 style="display:inline-block">Search Results</h2>
}

@if (modifiedFilters.Count > 1)
{
    <span><a data-toggle="modal" data-target="#multi_search_modal" style="margin-left:20px;">new search</a></span>
    <br />
    <h3>
        Showing results with surnames starting with:
        <span id="filters">
            @foreach (var filter in modifiedFilters)
            {
                if (filter == modifiedFilters.Last())
                {
                    <span>@filter.filter1</span>
                }
                else
                {
                    <span>@filter.filter1,</span>
                }
            }
        </span>
    </h3>
}
<div class="modal fade" tabindex="-1" role="dialog" id="multi_search_modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Surname Multi Search</h3>

            </div>
            <div class="modal-body">
                <input type="text" name="name1" id="name1" class="form-control" style="margin-bottom:5px;" />
                <input type="text" name="name2" id="name2" class="form-control" style="margin-bottom:5px;" />
                <input type="text" name="name3" id="name3" class="form-control" style="margin-bottom:5px;" />
                <input type="text" name="name4" id="name4" class="form-control" style="margin-bottom:5px;" />
                <input type="text" name="name5" id="name5" class="form-control" style="margin-bottom:5px;" />
            </div>
            <div class="modal-footer">
                <button type="button" id="multi_search" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>

<a id="add_to_cart" class="btn btn-primary hidden">Add Items to Cart</a>

@if (Model.Count > 0)
{
    foreach (var filter in modifiedFilters)
    {
        var lastNames = Model.Where(x => x.last_name.StartsWith(filter.filter1)).OrderBy(x => x.last_name).Select(x => x.last_name).Distinct().ToList();

        foreach (var name in lastNames)
        {
            var people = Model.Where(x => x.last_name == name).OrderBy(x => x.last_name).ToList();
            <h3>@name</h3>
            <div>
                @foreach (var person in people)
                {
                    List<wedding> marraiges = new List<wedding>();
                    foreach (var wedding in weddings)
                    {
                        if (person.person_id == wedding.person1_id || person.person_id == wedding.person2_id)
                        {
                            marraiges.Add(wedding);
                        }
                    }
                    wedding lastMarraige = marraiges.LastOrDefault();
                    if (!String.IsNullOrWhiteSpace(person.death_date))
                    {
                        var date = (int)Math.Round(Convert.ToInt32(person.death_date.Substring(0, 4)) / 10.0) * 10;

                        if ((user)Session["User"] != null)
                        {
                            <input type="checkbox" value="1" id="@person.person_guid" />
                        }
                        <span>
                            @person.last_name,
                            @if (marraiges.Count > 0)
                            {
                                person spouse;
                                if (lastMarraige.person1_id == person.person_id)
                                {
                                    spouse = allPeople.FirstOrDefault(x => x.person_id == lastMarraige.person2_id);
                                }
                                else
                                {
                                    spouse = allPeople.FirstOrDefault(x => x.person_id == lastMarraige.person1_id);
                                }
                                if (person.gender == "m")
                                {
                                    <span> Mr. @person.first_name @person.middle_name</span>
                                }
                                else
                                {
                                    <span>@person.first_name @person.middle_name - Mrs. @spouse.last_name </span>
                                }
                            }
                            else
                            {
                                <span> @person.first_name @person.middle_name</span>
                            }
                            <span> - Obituaty, @date's</span>
                        </span>
                        <br />
                    }
                    if (marraiges.Count > 0)
                    {
                        if ((user)Session["User"] != null)
                        {
                            <input type="checkbox" value="2" id="@person.person_guid" />
                        }
                        <span>
                            @person.last_name,

                            @{
                                person spouse;
                                if (lastMarraige.person1_id == person.person_id)
                                {
                                    spouse = allPeople.FirstOrDefault(x => x.person_id == lastMarraige.person2_id);
                                }
                                else
                                {
                                    spouse = allPeople.FirstOrDefault(x => x.person_id == lastMarraige.person1_id);
                                }
                                if (person.gender == "m")
                                {
                                    <span> Mr. @person.first_name @person.middle_name</span>
                                }
                                else
                                {
                                    <span> @person.first_name @person.middle_name - Mrs. @spouse.last_name</span>
                                }
                            }
                            <span> - Marraige Certificate</span>

                            @if (!String.IsNullOrWhiteSpace(lastMarraige.wedding_date))
                            {
                                var date = (int)Math.Round(Convert.ToInt32(lastMarraige.wedding_date.Substring(0, 4)) / 10.0) * 10;
                                <span>@date's</span>
                            }
                        </span>
                        <br />
                    }
                }
            </div>
        }
    }
}
else
{
    <h2>No Results.</h2>
}

@section scripts
{
    <script>
        $(function () {
            var filters = $('#filters').text();
            filters = filters.substring(0, filters.length);
            $('#filters').text(filters);

            $('#multi_search').click(function () {
                var name1 = $('#name1').val();
                var name2 = $('#name2').val();
                var name3 = $('#name3').val();
                var name4 = $('#name4').val();
                var name5 = $('#name5').val();

                var list = '';
                if (name1 != '') {
                    list += name1.charAt(0).toUpperCase() + name1.substring(1);
                    if (name2 != '') {
                        list += ',' + name2.charAt(0).toUpperCase() + name2.substring(1);
                    }
                    if (name3 != '') {
                        list += ',' + name3.charAt(0).toUpperCase() + name3.substring(1);
                    }
                    if (name4 != '') {
                        list += ',' + name4.charAt(0).toUpperCase() + name4.substring(1);
                    }
                    if (name5 != '') {
                        list += ',' + name5.charAt(0).toUpperCase() + name5.substring(1);
                    }

                    location.href = "/Home/SearchResults?filter=" + list;
                }
            });

            var types = [];
            var ids = [];

            $(':input').change(function () {
                var id = this.id;
                var type = $(this).val();

                var addedAlready = false;
                var index = 0;
                for (var x = 0; x < ids.length; x++) {
                    if (id == ids[x] && type == types[x]) {
                        addedAlready = true;
                        index = x;
                    }
                }
                console.log(index);

                if (!addedAlready) {
                    types.push(type);
                    ids.push(id);

                    $('#add_to_cart').removeClass('hidden');
                }
                else {
                    types.splice(index,1);
                    if (types.length == 0) {
                        $('#add_to_cart').addClass('hidden');
                        types = [];
                    }
                    ids.splice(index,1);
                    if (ids.length == 0) {
                        $('#add_to_cart').addClass('hidden');
                        ids = [];
                    }
                }
            });

            $('#add_to_cart').click(function () {
                if (types.length > 0) {
                    location.href = "/Home/AddToCart?types=" + types + "&ids=" + ids;
                }
            });
        });
    </script>
}